/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.contenedorFormulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formulario {
  width: 500px;
  padding: 16px;
  border-radius: 10px;
  margin: auto;
  border: pink;
}

.labelForm {
  width: 170px;
  font-weight: bold;
  display: inline-block;
}
.labelcheck {
  font-weight: bold;
  display: inline-block;
}

.inputForm {
  width: 180px;
  padding: 8px 10px;
  border: 1px solid #a3a2a2;
  border-radius: 5px;
  background-color: hsl(0, 0%, 96%);
  margin: 20px;
}
.inputcheck {
  width: 90px;
  padding: 8px 10px;
  border: 1px solid #a3a2a2;
  border-radius: 5px;
  background-color: hsl(0, 0%, 96%);
  margin: 20px;
}

.inputForm:focus {
  outline: none !important;
  border: 1px solid #edc0bc;
  box-shadow: 0 0 10px #719ece;
}

.selectForm {
  width: 180px;
  padding: 8px 10px;
  border: 1px solid #a3a2a2;
  border-radius: 5px;
  background-color: #f6f6f6;
  margin: 20px;
}

.selectForm:focus {
  outline: none !important;
  border: 1px solid #edc0bc;
  box-shadow: 0 0 10px #719ece;
}

.buttonForm {
  width: 20%;
  padding: 8px 16px;
  margin-top: 32px;
  border: 1px solid#EDC0BC;
  border-radius: 5px;
  display: block;
  color: #775c5a;
  background-color: #ffe5d9;
}

.buttonForm:hover {
  cursor: pointer;
  background-color: #edc0bc;
}

.mensaje {
  margin-top: 0.5rem /* 8px */;
  margin-bottom: 0.5rem /* 8px */;
  --tw-bg-opacity: 1;
  background-color: rgba(254, 226, 226, var(--tw-bg-opacity));
  border-left-width: 4px;
  --tw-border-opacity: 1;
  border-color: rgba(239, 68, 68, var(--tw-border-opacity));
  --tw-border-opacity: 1;
  border-color: rgba(239, 68, 68, var(--tw-border-opacity));
  color: rgb(224, 115, 134);
}

.p {
  font-weight: bold;
}

input[type="checkbox"]:checked + label {
  color: green;
}

/** CSS SIDEBAR DIEGO**/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}
body {
  background: #f5f5f5;
}
.sidebar {
  width: 200px;
  height: 100%;
  background: rgba(239, 182, 178, 0.897);
  left: -200px;
  transition: all 500ms linear;
}
.sidebar a {
  color: black;
}

.sidebar.active {
  left: 0px;
}

.sidebar ul li {
  color: black;
  list-style: none;
  padding: 15px 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(100, 100, 100, 0.3);
  text-align: center;
  font-weight: 600;
  background: rgb(239, 182, 178);
  cursor: pointer;
}

.salir {
  color: black;
  list-style: none;
  padding: 15px 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(100, 100, 100, 0.3);
  text-align: center;
  background: rgba(239, 182, 178, 0.8);
  font-weight: 600;
}

.sidebar .active {
  border-radius: 0 80px 80px 0;
  box-shadow: 0px 0px 0px 2px rgba(239, 182, 178, 0.8);
}
.sidebar ul li:hover {
  border-radius: 0 80px 80px 0;
  box-shadow: 0px 0px 0px 2px rgba(239, 182, 178, 0.8);
}
.logo {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  width: 150px;
}
.icono {
  display: inline-block;
  margin-left: 20px;
  margin-right: 5px;
  width: 30px;
  margin-top: 0px;
}
.close {
  margin-left: 5px;
  margin-right: 5px;
  width: 30px;
  margin-top: 0px;
}
.sidebar .toggle-btn {
  position: absolute;
  left: 230px;
  top: 20px;
  cursor: pointer;
}

.sidebar .toggle-btn span {
  display: block;
  width: 40px;
  text-align: center;
  font-size: 30px;
}
/** CSS SIDEBAR DIEGO**/

/** css juliana*/

.Dise침oTitulo {
  font-size: 180%;
  font-style: oblique;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  color: #775c5a;
}

/** css Cristian **/

.bodylogin {
  background-color: #fffff9;
}

.login {
  font-family: "Roboto", sans-serif;
  width: 440px;
  height: 250px;
  background: #fffff9;
  color: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login h1 {
  color: #5a4442;
  font-weight: bold;
  text-align: center;
  font-size: 22px;
}

.login p {
  text-align: center;
  opacity: 0.75;
  color: #000000;
}

.login label {
  margin: 0;
  font-weight: bold;
  color: #000000;
  opacity: 0.75;
  display: block;
}

.login input {
  width: 98%;
  margin-bottom: 20px;
}

.login input[type="text"],
.login input[type="password"] {
  border: 1px solid #000;
  border-radius: 10px;
  background: #ffffff;
  height: 30px;
  color: #000;
  font-size: 14px;
}

.login input[type="submit"] {
  border: none;
  outline: none;
  height: 35px;
  background: #ffe5d9;
  color: #5a4442;
  font-size: 16px;
  border-radius: 10px;
  width: 40%;
  display: block;
  margin: 0 auto;
}

.login input[type="submit"]:hover {
  cursor: pointer;
  color: #000;
  box-shadow: 3px 3px 3px #5a4442;
}

.logo .logop {
  width: 145px;
  height: 145px;
  position: absolute;
  top: 20px;
  left: 564px;
}

a.gboton {
  border: 1px solid rgb(201, 201, 201);
  box-shadow: 1px 1px black;
  border-radius: 5px;
  color: black;
  display: block;
  font-weight: bold;
  height: 29px;
  width: 180px;
  text-align: center;
  padding: 0 8px;
  font: 13px/27px Roboto, sans-serif;
  cursor: hand;
  margin-top: 480px;
  margin-left: 535px;
}

.iconoG {
  height: 100%;
}

#pie {
  height: 50px;
  line-height: 50px;
  background: #edc0bc;
  color: white;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.recuperacion {
  height: 50px;
  line-height: 50px;
  background: #000000;
  opacity: 0.5;
  text-align: right;
  bottom: 0;
  right: 0;
  width: 100%;
  cursor: pointer;
}

/** CSS Modificar ventas**/

.div1 {
  font-family: "Roboto", sans-serif;
  width: 35%;
  height: 20%;
  background: #fffff9;
  color: #775c5a;
  position: absolute;
  top: 25%;
  left: 45%;
  transform: translate(-50%, -50%);
}
.div2 {
  font-family: "Roboto", sans-serif;
  width: 15%;
  height: 17%;
  background: #fffff9;
  color: #775c5a;
  position: absolute;
  top: 27%;
  left: 40%;
}

.div2 .type {
  width: 100%;
}

.div3 {
  font-family: "Roboto", sans-serif;
  width: 35%;
  height: 15%;
  background: #fffff9;
  color: #775c5a;
  position: absolute;
  top: 36%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.div4 {
  font-family: "Roboto", sans-serif;
  width: 15%;
  height: 17%;
  background: #fffff9;
  color: #775c5a;
  position: absolute;
  top: 27.5%;
  left: 75%;
}

.estado {
  font-family: "Roboto", sans-serif;
  width: 65%;
  height: 10%;
  background: #fffff9;
  color: #775c5a;
  position: absolute;
  top: 83%;
  left: 28%;
}
.estado [for="venta"] {
  height: 100%;
}

.botones {
  font-family: "Roboto", sans-serif;
  width: 30%;
  height: 10%;
  background: #fffff9;
  color: #775c5a;
  position: absolute;
  top: 93%;
  left: 65%;
}

.botones input[type="submit"] {
  width: 80px;
  height: 40px;
  background: #ffe5d9;
  box-shadow: 3px 3px 3px #5a4442;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  outline: none;
}

table {
  margin-top: 280px;
  margin-left: 27%;
  margin-right: auto;
  border-collapse: collapse;
}

th {
  border: 1px solid rgb(194, 192, 192);
  padding-left: 10px;
  padding: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(255, 212, 219);
  opacity: 0.8;
}

tr,
td {
  border: 1px solid #ffe5d9;
  padding-left: 15px;
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

/** CSS Modificar ventas/
/** CSS tabla DE PRODUCTOS DANIELA**/

.buscadorEspecifico {
  background-color: #e9e9e9;
  color: silver;
  border: 0px;
  padding: 5px 15px;
  width: 600px;
  height: 20px;
  border-radius: 10px;
  font-weight: bolder;
  text-align: left;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  box-shadow: 0px 4px 4px gray;
  margin-top: 5%;
}
.buscadorEspecifico:hover {
  cursor: text;
  background-color: whitesmoke;
}

.botonNuevoPro {
  margin-right: 10px;
  background-color: #ffe5d9;
  color: #775c5a;
  border: 1px;
  padding: 5px 5px;
  width: 200px;
  height: 22px;
  border-radius: 10px;
  font-weight: bolder;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  box-shadow: 0px 4px 4px rgb(167, 165, 165);
  margin-top: 5%;
}
.botonNuevoPro:hover {
  cursor: pointer;
  background-color: #efb6b2;
}

.correrTabla {
  margin-top: 200px;
  margin-left: 15%;
  margin-right: 5%;
}

.tituloColumna {
  background-color: #ffe5d9;
  height: 40px;
  padding-inline: 75px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12 px;
  font-weight: normal;
  color: #775c5a;
  margin-left: 15%;
}

.filaImpar {
  justify-items: right;
  text-align: left;
  background-color: white;
  height: 60px;
  padding-inline: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12 px;
  font-weight: normal;
  color: #775c5a;
  margin-left: 15%;
}

.botones input[type="submit"] {
  width: 80px;
  height: 40px;
  background: #ffe5d9;
  box-shadow: 3px 3px 3px #5a4442;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  outline: none;
}

.filaPar {
  background-color: #ffe5d9;
  height: 60px;
  padding-inline: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12 px;
  font-weight: normal;
  color: #775c5a;
}

table {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

th {
  border: 1px solid rgb(194, 192, 192);
  padding-left: 15px;
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(255, 212, 219);
}

tr,
td {
  border: 1px solid rgb(194, 192, 192);
  padding-left: 15px;
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.buscar {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  background-color: white;
  border: 1px solid gray;
  padding: 4px;
  border-radius: 10px;
  width: 500px;
  display: flex;
  justify-content: space-between;
}
.buscar:focus-within {
  border: 1px solid rgb(204, 202, 204);
}

.buscar > input {
  outline: none;
  border: 0px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.Dise침o {
  display: flex;
  flex-direction: column;
  padding: 8px;
  position: relative;
  left: 900px;
}

.Dise침o > li {
  align-items: center;
  display: block;
}
.nuevaVentBoton {
  background-color: #f2c5c1;
  border: 0px;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bolder;
  position: relative;
  top: 15px;
  left: 8px;
}
.nuevaVentBoton:hover {
  cursor: pointer;
  box-shadow: 1px 1px #f2c5c1;
  transform: scale(1.1);
}

.modificarBoton {
  background-color: #f2c5c1;
  border: 0px;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bolder;
}

.modificarBoton:hover {
  cursor: pointer;
  box-shadow: 1px 1px #f2c5c1;
  transform: scale(1.1);
}

.selecci칩n {
  background-color: #f2c5c1;
  border: 0px;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bolder;
}

.ContenedorconMargen {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid palevioletred;
  padding: 10px;
}

.contenedor {
  display: inline-flex;
  position: relative;
  left: 200px;
  top: 70px;
}

.ContenedorconMargen {
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(255, 255, 255);
  padding: 5px;
}
/** CSS tabla DE PRODUCTOS DANIELA**/

.tituloHome {
  color: #775c5a;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 80px;
  text-align: center;
  margin-bottom: 90px;
}

.introduccion {
  color: #775c5a;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  text-align: center;
  display: flex;
  margin-right: 200px;
  margin-left: 200px;
}

.herramientas {
  color: #efb6b2;
  font-family: sans-serif;
  font-size: 40px;
  text-align: center;
  font-style: normal;
  margin-top: 80px;
  margin-bottom: 150px;
}
.contenedorTarjetasHome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30%;
}

.tarjetas {
  padding: 3px;
  background-color: #ffe5d9;
  width: 450px;
  height: 500px;
  text-align: center;
  padding-top: 30px;
  border-radius: 50px;
  font-family: sans-serif;
  color: #775c5a;
  font-weight: bold;
  font-size: 22px;
  margin-left: 25px;
  margin-right: 25px;
  box-shadow: 2px 4px silver;
}

.fotosHome {
  background-color: #ffe5d9;
  width: 400px;
  height: 400px;
  margin-top: 30px;
  border-radius: 15px;
}

.contenedorBotonesgrises {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 15%;
  margin-right: 2%;
  padding: 1%;
}

.buscadoresGrises {
  background-color: #e9e9e9;
  color: silver;
  border: 0px;
  padding: 5px 15px;
  width: 500px;
  height: 20px;
  border-radius: 10px;
  font-weight: bolder;
  text-align: left;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  box-shadow: 0px 4px 4px gray;
}

.buscadoresGrises:hover {
  cursor: text;
  background-color: whitesmoke;
}

.botonesGrises {
  margin-right: 10px;
  background-color: #ffe5d9;
  color: #775c5a;
  border: 1px;
  padding: 5px 5px;
  width: 200px;
  height: 22px;
  border-radius: 10px;
  font-weight: bolder;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  box-shadow: 0px 4px 4px rgb(167, 165, 165);
}
.botonesGrises:hover {
  cursor: pointer;
  shape-outside: 4px 4px #efb6b2;
  background-color: #edc0bc;
}

.tarjetasProductos {
  margin-top: 25px;
  margin-left: 15%;
  margin-right: 45px;
  margin-bottom: 25px;
  padding: 10px;
  background-color: #ffe5d9;
  display: flex;
  justify-content: space-between;
  height: 280px;
  box-shadow: 2px 4px silver;
  border-radius: 20px;
}
.tarjetasProductos:hover {
  cursor: pointer;
  shape-outside: 4px 4px #efb6b2;
  background-color: #edc0bc;
}

.tarjetasProductosNoDispo {
  margin-top: 25px;
  margin-left: 15%;
  margin-right: 45px;
  margin-bottom: 25px;
  padding: 10px;
  background-color: silver;
  display: flex;
  justify-content: space-between;
  height: 280px;
  box-shadow: 2px 4px silver;
  border-radius: 20px;
}

.contenedorTarjetasPro {
  display: flex;
  justify-content: space-between;
  text-align: justify;
  align-items: center;
  padding: 5px;
  width: 100%;
  margin-right: 2%;
  margin-left: 2%;
}

.elementos1 {
  display: flex;
  text-align: center;
  justify-items: left;
  width: 260px;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 4%;
}

.elementos2 {
  color: #775c5a;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  height: 260px;
  width: 260px;
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-top: 8%;
  margin-bottom: 4%;
}
.contenidoProducto {
  display: grid;
  justify-items: left;
  height: 100%;
}
.identificador {
  display: flex;
  justify-content: right;
  text-align: inherit;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: large;
  height: 60px;
  width: 200px;
  margin-right: 10px;
  margin-top: 200px;
}
