/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.contenedorFormulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formulario {
  width: 500px;
  padding: 16px;
  border-radius: 10px;
  margin: auto;
  border: pink;
}

.labelForm {
  width: 170px;
  font-weight: bold;
  display: inline-block;
}
.labelcheck {
  font-weight: bold;
  display: inline-block;
}

.inputForm {
  width: 180px;
  padding: 8px 10px;
  border: 1px solid #a3a2a2;
  border-radius: 5px;
  background-color: hsl(0, 0%, 96%);
  margin: 20px;
}
.inputcheck {
  width: 90px;
  padding: 8px 10px;
  border: 1px solid #a3a2a2;
  border-radius: 5px;
  background-color: hsl(0, 0%, 96%);
  margin: 20px;
}

.inputForm:focus {
  outline: none !important;
  border: 1px solid #edc0bc;
  box-shadow: 0 0 10px #719ece;
}

.selectForm {
  width: 180px;
  padding: 8px 10px;
  border: 1px solid #a3a2a2;
  border-radius: 5px;
  background-color: #f6f6f6;
  margin: 20px;
}

.selectForm:focus {
  outline: none !important;
  border: 1px solid #edc0bc;
  box-shadow: 0 0 10px #719ece;
}

.buttonForm {
  width: 20%;
  padding: 8px 16px;
  margin-top: 32px;
  border: 1px solid#EDC0BC;
  border-radius: 5px;
  display: block;
  color: #775c5a;
  background-color: #ffe5d9;
}

.buttonForm:hover {
  cursor: pointer;
  background-color: #edc0bc;
}

.mensaje {
  margin-top: 0.5rem /* 8px */;
  margin-bottom: 0.5rem /* 8px */;
  --tw-bg-opacity: 1;
  background-color: rgba(254, 226, 226, var(--tw-bg-opacity));
  border-left-width: 4px;
  --tw-border-opacity: 1;
  border-color: rgba(239, 68, 68, var(--tw-border-opacity));
  --tw-border-opacity: 1;
  border-color: rgba(239, 68, 68, var(--tw-border-opacity));
  color: rgb(224, 115, 134);
}

.p {
  font-weight: bold;
}

input[type="checkbox"]:checked + label {
  color: green;
}

/** CSS SIDEBAR DIEGO**/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}
.body {
  background: #f5f5f5;
}

.sidebar {
  width: 200px;
  height: 100%;
  background: rgba(239, 182, 178, 0.897);
  left: -200px;
  transition: all 500ms linear;
}
.sidebar a {
  color: black;
}

.sidebar.active {
  left: 0px;
}

.sidebar ul li {
  color: black;
  list-style: none;
  padding: 15px 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(100, 100, 100, 0.3);
  text-align: center;
  font-weight: 600;
  background: rgb(239, 182, 178);
  cursor: pointer;
}

.salir {
  color: black;
  list-style: none;
  padding: 15px 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(100, 100, 100, 0.3);
  text-align: center;
  background: rgba(239, 182, 178, 0.8);
  font-weight: 600;
}

.sidebar .active {
  border-radius: 0 80px 80px 0;
  box-shadow: 0px 0px 0px 2px rgba(239, 182, 178, 0.8);
}

  .logo {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
      width: 150px; 
  }
  .icono{
    display: inline-block;
      margin-left: 20px; 
      margin-right: 5px;
      width: 30px; 
      margin-top: 0px;    
  }
  .close{
    margin-left: 5px; 
    margin-right: 5px;
    width: 30px; 
    margin-top: 0px;  
  }
  #sidebar .toggle-btn {
    position: absolute;
    left: 230px;
    top: 20px;
    cursor: pointer;
  }
  
  #sidebar .toggle-btn span {
    display: block;
    width: 40px;
    text-align: center;
    font-size: 30px;
  }
  /** CSS SIDEBAR DIEGO**/

  /** CSS HEADER DANIELA**/
  .logoGrande{
    height: 110px;
    margin-left: 55%;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px;
    background-color: #EDC0BC;
    height:60px;
}

.estilosHeader{

    color:#775C5A;
    font-size:x-large;
    
}


.botonLogin {
    background-color :#FFE5D9;
    color:#775C5A;
    border:0px;
    padding: 5px 5px;
    width: 80px;
    height: 25px ;
    border-radius: 10px;
    font-weight: bolder;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    box-shadow:2px 2px gray;

    

}
.botonLogin:hover {
    cursor: pointer;
    box-shadow: 4px 4px #EFB6B2;
    transform: scale(1.1);
    background-color:white;
}

/** CSS HEADER DANIELA**/

/** CSS HOME DANIELA**/

.tituloHome{
  color:#775C5A;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 80px ;
  text-align:center ;
  margin-bottom: 90px;

}

.introduccion{
  color:#775C5A;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  text-align: center ;
  display: flex;
  margin-right: 200px;
  margin-left: 200px;
}



.herramientas{
  color:#EFB6B2;
  font-family:sans-serif;
  font-size: 40px;
  text-align: center ;
  font-style: normal;
  margin-top: 80px;
  margin-bottom: 150px;
}
.contenedorTarjetasHome{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30%;
  

}

.tarjetas{
  padding:3px;
  background-color:#FFE5D9;
  width:450px;
  height: 500px;
  text-align: center;
  padding-top: 30px;
  border-radius: 50px;
  font-family:sans-serif;
  color:#775C5A;
  font-weight: bold;
  font-size: 22px;
  margin-left: 25px;
  margin-right:25px;
  box-shadow:2px 4px silver;
  }

.fotosHome{
  background-color:#FFE5D9;
  width:400px;
  height: 400px;
  margin-top: 30px;
  border-radius: 15px;

}

/** CSS STOCK DE PRODUCTOS DANIELA**/

.contenedorBotonesgrises{
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  margin-left: 15%;
  margin-right: 2%;
  padding: 1%;


}

.buscadoresGrises{
  background-color :#E9E9E9;
  color:silver;
  border:0px;
  padding:5px 15px ;
  width: 500px;
  height: 20px ;
  border-radius: 10px;
  font-weight: bolder;
  text-align:left;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  box-shadow:0px 4px 4PX gray;
}

.buscadoresGrises:hover {
  cursor:text;
  background-color:whitesmoke;
}

.botonesGrises{
  margin-right:10px;
  background-color :#FFE5D9;
  color:#775C5A;
  border:1px;
  padding: 5px 5px;
  width: 200px;
  height: 22px ;
  border-radius: 10px;
  font-weight: bolder;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  box-shadow:0px 4px 4PX rgb(167, 165, 165);



}
.botonesGrises:hover{
  cursor: pointer;
  shape-outside: 4px 4px #EFB6B2;
  background-color:#EDC0BC;
}

.tarjetasProductos{
  margin-top: 25px;
  margin-left: 15%;
  margin-right:45px;
  margin-bottom: 25px;
  padding: 10px;
  background-color:#FFE5D9;  
  display: flex;
  justify-content: space-between;
  height: 280px;
  box-shadow:2px 4px silver;
  border-radius: 20px;
}
.tarjetasProductos:hover{
  cursor: pointer;
  shape-outside: 4px 4px #EFB6B2;
  background-color:#EDC0BC;
}

.tarjetasProductosNoDispo{
  margin-top: 25px;
  margin-left: 15%;
  margin-right:45px;
  margin-bottom: 25px;
  padding: 10px;
  background-color:silver;  
  display: flex;
  justify-content: space-between;
  height: 280px;
  box-shadow:2px 4px silver;
  border-radius: 20px;

}

.contenedorTarjetasPro{
  display: flex;
  justify-content: space-between;
  text-align:justify;
  align-items: center;
  padding: 5px;
  width: 100%;
  margin-right:2%;
  margin-left:2%;


}

.elementos1{
  display: flex;
  text-align: center;
  justify-items: left;
  width: 260px ;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left:4%;
}

.elementos2{
  color: #775C5A;
  font-size: medium;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  height: 260px;
  width: 260px ;
  display: flex;
  justify-content: space-between;
  text-align:left;
  margin-top: 8%;
  margin-bottom: 4%;


}
.contenidoProducto{
  display: grid;
  justify-items: left;
  height: 100%;

}
.identificador{
  display: flex;
  justify-content: right;
  text-align:inherit;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size:large;
  height: 60px;
  width: 200px ;
  margin-right: 10px;
  margin-top: 200px;
}

/** CSS STOCK DE PRODUCTOS DANIELA**/
=======
.sidebar ul li:hover {
  border-radius: 0 80px 80px 0;
  box-shadow: 0px 0px 0px 2px rgba(239, 182, 178, 0.8);
}
.logo {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  width: 150px;
}
.icono {
  display: inline-block;
  margin-left: 20px;
  margin-right: 5px;
  width: 30px;
  margin-top: 0px;
}
.close {
  margin-left: 5px;
  margin-right: 5px;
  width: 30px;
  margin-top: 0px;
}
.sidebar .toggle-btn {
  position: absolute;
  left: 230px;
  top: 20px;
  cursor: pointer;
}

.sidebar .toggle-btn span {
  display: block;
  width: 40px;
  text-align: center;
  font-size: 30px;
}
/** CSS SIDEBAR DIEGO**/

/** css juliana*/

.DiseñoTitulo {
  font-size: 180%;
  font-style: oblique;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  color: #775c5a;
}

