/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.contenedorFormulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formulario {
  width: 500px;
  padding: 16px;
  border-radius: 10px;
  margin: auto;
  border: pink;
}

.labelForm {
  width: 170px;
  font-weight: bold;
  display: inline-block;
}

.inputForm {
  width: 180px;
  padding: 8px 10px;
  border: 1px solid #a3a2a2;
  border-radius: 5px;
  background-color: hsl(0, 0%, 96%);
  margin: 20px;
}

.inputForm:focus {
  outline: none !important;
  border: 1px solid #edc0bc;
  box-shadow: 0 0 10px #719ece;
}

.selectForm {
  width: 180px;
  padding: 8px 10px;
  border: 1px solid #a3a2a2;
  border-radius: 5px;
  background-color: #f6f6f6;
  margin: 20px;
}

.selectForm:focus {
  outline: none !important;
  border: 1px solid #edc0bc;
  box-shadow: 0 0 10px #719ece;
}

.buttonForm{
  width: 20%;
  padding: 8px 16px;
  margin-top: 32px;
  border: 1px solid#EDC0BC;
  border-radius: 5px;
  display: block;
  color: #775c5a;
  background-color: #ffe5d9;
}

.buttonForm:hover {
  cursor: pointer;
  background-color: #edc0bc;
}

.mensaje {
  margin-top: 0.5rem /* 8px */;
  margin-bottom: 0.5rem /* 8px */;
  --tw-bg-opacity: 1;
  background-color: rgba(254, 226, 226, var(--tw-bg-opacity));
  border-left-width: 4px;
  --tw-border-opacity: 1;
  border-color: rgba(239, 68, 68, var(--tw-border-opacity));
  --tw-border-opacity: 1;
  border-color: rgba(239, 68, 68, var(--tw-border-opacity));
  color: rgb(224, 115, 134);
}

.p {
  font-weight: bold;
}
